/* src/App.css */

/* Fondo general de la aplicación */
body {
  background-color: #f4f4f9;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #007bb5;
}

/* Estilo para el contenedor principal */
.App {
  width: 80%;
  max-width: 800px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

/* Estilo para el encabezado */
.header {
  background-color: #2a9df4;
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-size: 1.8em;
  margin-bottom: 20px;
}

/* Estilo para el Dashboard */
.dashboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

/* Estilo para el componente de conversión */
.converter {
  background-color: #e1f5fe;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Estilo para el historial de transacciones */
.transaction-history {
  background-color: #fce4ec;
  padding: 15px;
  border-radius: 8px;
}

/* Estilo para los botones */
button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: #2a9df4;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #007bb5;
}
